<%= render "lists/banner" %>

<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary"%>
  </div>

    <div class="cards mt-5">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,00)), url(...)">
          <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
